.profile-nav {

  .user-details {
    color: #7a7a7a;

  }


  background: #ffffff;
  box-shadow: 22px 22px 27px #cccccc, -22px -22px 27px #ffffff;
  ul {
    list-style: none;
    line-height: 5vh;
    display: flex;
    flex-direction: column;

    li {
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 1%;
      margin-bottom: 1%;
      border-bottom: 1px solid rgb(143, 143, 143);
      a {
        color: black;
        text-decoration: none;
      }

      a:hover {
        color: #f44336;
        transition: 0.5s ease-in-out all;
      }
    }
  }
}

table {
  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.SearchFilterInput {
  border: none;
  border-radius: 5px;
  background: rgba(182, 182, 182, 0.5);
  outline: none;
  padding: 10px;
  width: 100%;
}
