<section>

  <div class="col-sm-12  text-center" *ngIf="!loadCartData">
    <a class="btn btn-dark float-left mb-2" href="/admin"> Go to dashboard </a>

    <input (keyup)="applyFilter($event)" placeholder="Search order list" #input class="SearchFilterInput mb-3">


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z13 w-100">

      <ng-container matColumnDef="id">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Id </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="productname">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Product name </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.productname}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Username </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th class="text-left" mat-header-cell *matHeaderCellDef> State </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <ng-container matColumnDef="zip">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Zip </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.zip}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Phone </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Price </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="totalitems">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Total items </th>
        <td class="text-left" mat-cell *matCellDef="let element"> {{element.totalitems}} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Image </th>
        <td class="text-left" mat-cell *matCellDef="let element">
          <img [src]="BASE_URL+'upload/images/'+element.image" alt="" class="image">
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Status </th>
        <td class="text-left" mat-cell *matCellDef="let element">
          <span class="badge badge-warning p-2" *ngIf="element.orderstatus=='ordered'"> ORDERED </span>
          <span class="badge badge-primary p-2" *ngIf="element.orderstatus=='ontheway'"> ON THE WAY </span>
          <span class="badge badge-success p-2" *ngIf="element.orderstatus=='delivered'"> DELIVERED </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="changestatus">
        <th class="text-left" mat-header-cell *matHeaderCellDef> Change status </th>
        <td class="text-left" mat-cell *matCellDef="let element">

          <button class="badge badge-warning mb-1 p-2" (click)="changeOrderStatus('ordered', element.id)"> ORDERED </button> <br>
          <button class="badge badge-primary mb-1 p-2" (click)="changeOrderStatus('ontheway', element.id)"> ON THE WAY </button> <br>
          <button class="badge badge-success mb-1 p-2" (click)="changeOrderStatus('delivered', element.id)"> DELIVERED </button> <br>
        </td>
      </ng-container>


      <tr class="text-left" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="text-left" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>


  </div>
</section>
