.slider-container {
  img {
    border-radius: 25px;
    height: 50vh;
    object-fit: cover;
  }
}

.new-arrivals {
  img {
    border-radius: 25px;
    height: 30vh;
    object-fit: cover;
  }
}

.best-sales {

    img {
      border-radius: 25px;
      height: 30vh;
      object-fit: cover;
    }

}
