<div class="container-fluid footer-container w-100 p-3">
  <div class="container">
    <div class="footer-logo w-100">
      <img src="assets/images/sitelogo.png" alt="">
    </div>


    <div class="row">
      <div class="contact-details col-sm">

        <button mat-icon-button style="outline: none; border: none;">
          <mat-icon>
            <a style="color: white; font-size: medium;">
              <i class="fa fa-envelope-open"></i>
              asimupdgtm@gmail.com
            </a>
          </mat-icon>
        </button>

        <br>

        <button mat-icon-button style="outline: none; border: none;">
          <mat-icon>
            <a style="color: white; font-size: medium;">
              <i class="fa fa-phone"></i>
              +14432100367
            </a>
          </mat-icon>
        </button>

        <br>

        <button mat-icon-button style="outline: none; border: none;">
          <mat-icon>
            <a style="color: white; font-size: medium;">
              <i class="fa fa-map-marker"></i>
              Kirksville
            </a>
          </mat-icon>
        </button>
      </div>

      <div class="col-sm-4 social-medias" style="color: white;">

        <h4>Connect with us</h4>

        <a href="" style="color: white; font-size: x-large;" class="col-sm">
          <i class="fa fa-facebook"></i>
        </a>

        <a href="" style="color: white; font-size: x-large;" class="col-sm">
          <i class="fa fa-twitter"></i>
        </a>

        <a href="" style="color: white; font-size: x-large;" class="col-sm">
          <i class="fa fa-instagram"></i>
        </a>

        <a href="" style="color: white; font-size: x-large;" class="col-sm">
          <i class="fa fa-linkedin"></i>
        </a>

      </div>

    </div>

    <div class="row text-center mt-lg-5" style="color: white;">
      <div class="container">
        &copy; All right reserved
      </div>
    </div>
  </div>
</div>




